-if(account)
  h2(style='font-weight:bold;padding-bottom:5px;') Whats Your question?
  form(#myForm action='/nod',method='post')
    textarea(name='nod',style='width:550px;')
    br
    br
    input(#wall type='submit',value='Fire Away',style='background-color:#000000;border:solid;border-color:#666666;border-width:1px;color:#E3E3E3;padding:5px;font-weight:bold;cursor:pointer;position:relative;top:-15px;margin-left:5px;')
  div
      script(src='http://connect.facebook.net/en_US/all.js')
      script (src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js")
      #fb-root
      script
          function postToFriends() {
            FB.init({appId: '172451406173427', xfbml: true, cookie: true});
            FB.ui({
                method: 'send',
                name: 'Community Mirror',
                message: nods[0].text,
                link: 'http://localhost/'+nods[0]._id,
                picture:'http://www.merchantofphillippi.com/commMirror/images/green_grey/evenDarkerLogo.jpg'
                });
              }
          function postToFeed() {
            var obj = {
              method: 'feed',
              link: 'http://localhost/'+nods[0]._id,
              picture: 'http://www.merchantofphillippi.com/commMirror/images/green_grey/evenDarkerLogo.jpg',
              name: 'Community Mirror',
              caption: 'Community Mirror',
              description: 'Find out what your friends really think of you!'
            };

            function callback(response) {
              alert('Posted on you wall!');
            }
            FB.init({appId: '172451406173427', xfbml: true, cookie: true});
            FB.ui(obj, callback);
            }
      br
  div(style='width:600px;')
    -for(var i=0;i<nods.length;i++)
      div(style='background-color:#000000;padding:10px;margin-top:5px;border:solid;border-color:#666666;border-width:1px;')
        div
          a(href='/'+nods[i]._id,style='padding-right:10px;')=nods[i].text
        span='Yes  '+nods[i].yes
        br
        span='No   '+nods[i].no
        div(style='color:#999999;font-size:12px;')=howLongAgo(nods[i].date)+' ago'
