<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>commMirrorPages</title>
		 <script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>
</head>

<body>

<img src="commMirror3.png" align="absmiddle"/>
	
	<div class="fb_button" id="fb-login" style="float:left; background-position: left -188px">
                    <a href="?login_with=facebook" class="fb_button_medium">
                      <span id="fb_login_text" class="fb_button_text">Login</span>
                    </a>
                  </div>
	
	<div class="fb_button" id="fb-login" style="float:right; background-position: right -188px"><a href="/logout" 						class="fb_button_medium"><span id="fb_login_text" class="fb_button_text">Logout</span></a></div>
<</body>
</html>
