html
  head
    link(rel='stylesheet',type='text/css',href='/css/index.css')
    title=title
  body
    #centered
      #Oobj146
        a(href='/show/promotion')
          img#Ggeo73(alt="", src="../images/Star_03.png")
      #Oobj11
        #Grtf16.dfltt
          span.txt0
            | Let the people who know you best
            | give you
            span.bold anonymous
            br 
            |feedback
      #Oobj14
        #Grtf17.dfltt
          span.txt1
            | Ask things
            | like:&nbsp
          span.txt2
            | Am I in the right
            | career? &nbsp Am I
            | stylish?&nbsp Should I go back to
            | school?&nbsp Do I look good in a swim
            | suit?
      #Oobj15
        #Grtf18.dfltt
          span.txt3
            | You ask the mirror a question &nbsp
            |The mirror asks your &nbsp
            |friends &nbsp The mirror gives you answers
      #Oobj20
        img#Ggeo20(alt="", src="../images/Pictograph.png")
      #OLogo
        img#Ggeo21(alt="", src="../images/The Community Mirror.png")
      #OConnect
        a(href="/auth/facebook")
          img#Ggeo22(alt="", src="../images/Connect with Facebook.png")
