h2(style='font-weight:bold;font-size:20px;text-align:center;')='@'+user.fname

h2(style='font-weight:bold;padding-bottom:5px;') = 'Help' +user.fname +' by answering this question
form(action='/'+question._id+'/rate',method='post')
    input(type = 'text', name='question',style='width:350px;',value =question.text, disabled='disabled')
    input(type='submit',value='Yes',name='yes',style='background-color:#000000;border:solid;border-color:#666666;border-width:1px;color:#E3E3E3;padding:5px;font-weight:bold;cursor:pointer;position:relative;top:-15px;margin-left:5px;')
    input(type='submit',value='No',name='no',style='background-color:#000000;border:solid;border-color:#666666;border-width:1px;color:#E3E3E3;padding:5px;font-weight:bold;cursor:pointer;position:relative;top:-15px;margin-left:5px;')

div(style='width:600px;')
  -for(var i=0;i<nods.length;i++)
    div(style='background-color:#000000;padding:10px;margin-top:5px;border:solid;border-color:#666666;border-width:1px;')
      div
        a(href='/'+nods[i].username,style='padding-right:10px;')=nods[i].username
      span=nods[i].text
      div(style='color:#999999;font-size:12px;')=howLongAgo(nods[i].last_update)+' ago'
