html
  head
    title=title
    link(rel='stylesheet',type='text/css',href='/css/thankyou.css')
  body
    #centered
      #Oobj46
        img#Ggeo42(alt="", src="../images/Thank-You-Page-v1.png")
      #Oobj35
        a(href='/home')
          img#Ggeo33(alt="", src="../images/Logo.png")
      #Oobj36
        a(href='/home')
          img#Ggeo34(alt="", src="../images/The Community Mirror.png")
      #Oobj38
        #Grtf48.dfltt
          span.txt0
            | Thanks for helping out! We're sure
            | your friends appreciate the feedback.
      #Oobj39
        #Grtf49.dfltt
          span.txt1
            | Use your community as a mirror for
            | your life..
      #Oobj40
        #Grtf50.dfltt
          span.txt2 Sign up to Ask your own question..
      #Oobj48
        #Gcode68.dfltc
          a(href="/auth/facebook")
            img#Ggeo22(alt="", src="../images/Connect with Facebook.png")
